# shellcheck disable=SC2148

function exists() {
    PROGRAM=$1
    PARAMS=$2
    [ -z "$PROGRAM" ] && {
        echo -e "Calling exists() with empty PROGRAM arg"
        return 2
    }
    [ -z "$PARAMS" ] && PARAMS=-v

    if $PROGRAM "$PARAMS" &> /dev/null; then
        return 0
    fi
    return 1
}

# Allow sudo for aliases:
alias "sudo "="sudo"
# Cat:
exists "bat" "-V" && alias cat="bat"
# Neofetch:
if exists "hyfetch" "--version"; then alias neofetch="hyfetch"
elif exists "fastfetch"; then alias neofetch="fastfetch"
elif exists "neowofetch" "--version"; then alias neofetch="neowofetch"
fi
# Zoxide:
exists "zoxide" "-V" && {
    alias cd="z"
    alias cdi="zi"
}
