# shellcheck disable=SC2148

ALIASES_FOR_CLEAR=(
    cöear
    clea
    "clear#"
    cllear
    claer
    claear
    cler
    cleear
    cleer
    claar
)

for MISSPELL in "${ALIASES_FOR_CLEAR[@]}"; do
    # shellcheck disable=SC2139 # intended behaviour here
    alias "$MISSPELL"="clear; echo -e \"Wdym '${MISSPELL}'?? I Think you meant 'clear', right?\""
done

function exists() {
    PROGRAM=$1
    PARAMS=$2
    [ -z "$PROGRAM" ] && {
        echo -e "Calling exists() with empty PROGRAM arg"
        return 2
    }
    [ -z "$PARAMS" ] && PARAMS=-v

    if $PROGRAM "$PARAMS" &> /dev/null; then
        return 0
    fi
    return 1
}

# Allow sudo for aliases:
alias "sudo "="sudo"

# Cat:
exists "bat" "-V" && alias cat="bat"
# Neofetch:
if exists "hyfetch" "--version"; then
    FILE_DIR=~/.local/share/nirokay/ascii_distro/
    FILE=""
    DISTRO=$(distro)
    NAME=$(echo "${DISTRO#'Name: '}" | cut -f1 -d$'\n')
    case "$NAME" in
        openSUSE|"openSUSE Tumbleweed"|"openSUSE Leap") FILE="gecko" ;;
        *) ;;
    esac

    ARGS=""
    if [ -n "$FILE" ]; then
        if [ -f $FILE_DIR$FILE ]; then
            ARGS=" --ascii-file $FILE_DIR$FILE"
        else
            echo -e "Neofetch ascii file '$FILE_DIR$FILE' does not exist."
        fi
    fi

    # shellcheck disable=SC2139 # intended
    alias neofetch="hyfetch$ARGS"
elif exists "fastfetch"; then alias neofetch="fastfetch"
elif exists "neowofetch" "--version"; then alias neofetch="neowofetch"
fi
# Zoxide:
exists "zoxide" "-V" && {
    alias cd="z"
    alias cdi="zi"
}
